@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}








/*estilos personalizado*/
.text-usuario{
    text-align: center;
    color:#fff;
}
.padding-list{
    padding: 5%;
    margin-left: 10%;
}

.card [data-background-color] {
    background: linear-gradient(60deg, #fff059, #fff059);
    box-shadow: none;
    padding: 20px;


}
.card [data-background-color] .card-title {
    color: #2f3476;
    font-weight: 500;
}

.btn.btn-simple, .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple {
    background-color: transparent;
    color: #2f3476;
    box-shadow: none;
}
.btn.btn-simple:hover, .btn.btn-rose.btn-simple:focus, .btn.btn-rose.btn-simple:active, .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple:hover, .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple:focus, .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple:active {
    background-color: transparent;
    color: #2f3476;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#2f3476, #2f3476), linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#2f3476, #2f3476), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}

.btn, .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn.active:hover, .open > .btn.dropdown-toggle, .open > .btn.dropdown-toggle:focus, .open > .btn.dropdown-toggle:hover, .btn.btn-default, .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default.active, .btn.btn-default:active:focus, .btn.btn-default:active:hover, .btn.btn-default.active:focus, .btn.btn-default.active:hover, .open > .btn.btn-default.dropdown-toggle, .open > .btn.btn-default.dropdown-toggle:focus, .open > .btn.btn-default.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn, .navbar .navbar-nav > li > a.btn:hover, .navbar .navbar-nav > li > a.btn:focus, .navbar .navbar-nav > li > a.btn:active, .navbar .navbar-nav > li > a.btn.active, .navbar .navbar-nav > li > a.btn:active:focus, .navbar .navbar-nav > li > a.btn:active:hover, .navbar .navbar-nav > li > a.btn.active:focus, .navbar .navbar-nav > li > a.btn.active:hover, .open > .navbar .navbar-nav > li > a.btn.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-default, .navbar .navbar-nav > li > a.btn.btn-default:hover, .navbar .navbar-nav > li > a.btn.btn-default:focus, .navbar .navbar-nav > li > a.btn.btn-default:active, .navbar .navbar-nav > li > a.btn.btn-default.active, .navbar .navbar-nav > li > a.btn.btn-default:active:focus, .navbar .navbar-nav > li > a.btn.btn-default:active:hover, .navbar .navbar-nav > li > a.btn.btn-default.active:focus, .navbar .navbar-nav > li > a.btn.btn-default.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle:hover {
    background-color: #2f3476;
    color: #FFFFFF;
    margin-left:15%;
}

.text-list{
    color: #fff;
    font-weight: 500;
}



.navbar .navbar-nav > li > a .material-icons, .navbar .navbar-nav > li > a .fa {
    font-size: 25px;
    color:  #2f3476;
}

.img_dropdown {
    border-radius: 50%;
    height: 60px;
    margin-top: 5%;
    margin-left: 35%;

}

.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active, .bootstrap-table .dropdown-menu li a:hover, .bootstrap-table .dropdown-menu li a:focus, .bootstrap-table .dropdown-menu li a:active {
    background-color: #2f3476;
    color: #FFFFFF;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.ico_dropdown{
    padding-right: 5%;
    
}
.ico_dropdown:hover{

    
}

.navbar .dropdown-menu li a, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active, .bootstrap-table .dropdown-menu li a:hover, .bootstrap-table .dropdown-menu li a:focus, .bootstrap-table .dropdown-menu li a:active {
   
    color:  #2f3476;
    box-shadow:none;
}

.card .map {
    height: 20px;
    border-radius: 6px;
    margin-top: 15px;
}
/*estilos de la barra de busqueda*/
.flexsearch--wrapper {
  background: transparent !important; 
  position: relative !important;
  margin-bottom:10%;

}


.flexsearch--input-wrapper {
  padding: 0 66px 0 0 !important; /* Right padding for submit button width */
  overflow: hidden !important;
}

.flexsearch--input {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    height: 40px !important;
    padding: 0 46px 0 10px !important;
    border-color: #888 !important;
    border-radius: 35px !important; /* (height/2) + border-width */
    border-style: solid !important;
    border-width: 1px !important;
    margin-top: 15px !important;
    color: #333 !important;
    font-family: Arial !important;
    font-size: 15px !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

.card_buscador{
   margin-top: -20px;
}
.card_titulo{

    font-weight: 500;
}

.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary.active, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary.active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {
    background-color:#2f3476;
    color: #FFFFFF;
    margin-left: 15px;
}




.btn_arrow{
    margin-top: 5px;
    margin-left: -50px;
}

.checkbox label {
    cursor: pointer;
    padding-left: 0;
    color: #2f3476;
}

.form-horizontal .radio label {
    padding-left: 28px;
    color: #2f3476;
    font-weight: 500;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #2f3476;
}

.div_mercaderia{
    margin-left: 3.5%;
    margin-top: 2%;
    color: #2f3476;
    font-weight: 500;
}


.checkbox label, .radio label, label, .label-on-left, .label-on-right {
    font-size: 12px;
    line-height: 1.42857;
    color: #2f3476;
    font-weight: 400;
}



.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 11px;
    font-weight: 500;
}
/*
.card .table tr:first-child td {
    border-top: none;
    font-size: 11px;
}*/
.card .card-title {
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 600;
}

.listar_sistema{
 
    font-weight: 600;
}

.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success.active, .btn.btn-success:active:focus, .btn.btn-success:active:hover, .btn.btn-success.active:focus, .btn.btn-success.active:hover, .open > .btn.btn-success.dropdown-toggle, .open > .btn.btn-success.dropdown-toggle:focus, .open > .btn.btn-success.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-success, .navbar .navbar-nav > li > a.btn.btn-success:hover, .navbar .navbar-nav > li > a.btn.btn-success:focus, .navbar .navbar-nav > li > a.btn.btn-success:active, .navbar .navbar-nav > li > a.btn.btn-success.active, .navbar .navbar-nav > li > a.btn.btn-success:active:focus, .navbar .navbar-nav > li > a.btn.btn-success:active:hover, .navbar .navbar-nav > li > a.btn.btn-success.active:focus, .navbar .navbar-nav > li > a.btn.btn-success.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle:hover {
    background-color: #2f3476;
    color: #FFFFFF;
}

table.dataTable > thead > tr > th, table.dataTable > tbody > tr > th, table.dataTable > tfoot > tr > th, table.dataTable > thead > tr > td, table.dataTable > tbody > tr > td, table.dataTable > tfoot > tr > td {
    padding: 5px !important;
    outline: 0;
    font-size: 11px;
}



.descripcion{
    margin-bottom: 20px;
}

.olvido_pass{
    margin-left: 5.9%;
    font-size: 9px !important;
    text-align: center;

}

.btn-group.bootstrap-select.show-tick.open .select-with-transition {
    outline: none !important;
    background-image: linear-gradient(#2f3476, #2f3476), linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-size: 100% 2px, 100% 1px !important;
    box-shadow: none;
    transition-duration: 0.3s !important;
}

.bootstrap-select > .dropdown-toggle {
    width: 90%;
    /* padding-right: 25px; */
    z-index: 1;
}



.btn-group .btn + .btn, .btn-group .btn, .btn-group .btn:active, .btn-group .btn-group, .btn-group-vertical .btn + .btn, .btn-group-vertical .btn, .btn-group-vertical .btn:active, .btn-group-vertical .btn-group {
    margin: 0px;
}

.btn_cargamasiva{
   margin-top:25% !important;
}

.btn, .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn.active:hover, .open > .btn.dropdown-toggle, .open > .btn.dropdown-toggle:focus, .open > .btn.dropdown-toggle:hover, .btn.btn-default, .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default.active, .btn.btn-default:active:focus, .btn.btn-default:active:hover, .btn.btn-default.active:focus, .btn.btn-default.active:hover, .open > .btn.btn-default.dropdown-toggle, .open > .btn.btn-default.dropdown-toggle:focus, .open > .btn.btn-default.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn, .navbar .navbar-nav > li > a.btn:hover, .navbar .navbar-nav > li > a.btn:focus, .navbar .navbar-nav > li > a.btn:active, .navbar .navbar-nav > li > a.btn.active, .navbar .navbar-nav > li > a.btn:active:focus, .navbar .navbar-nav > li > a.btn:active:hover, .navbar .navbar-nav > li > a.btn.active:focus, .navbar .navbar-nav > li > a.btn.active:hover, .open > .navbar .navbar-nav > li > a.btn.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-default, .navbar .navbar-nav > li > a.btn.btn-default:hover, .navbar .navbar-nav > li > a.btn.btn-default:focus, .navbar .navbar-nav > li > a.btn.btn-default:active, .navbar .navbar-nav > li > a.btn.btn-default.active, .navbar .navbar-nav > li > a.btn.btn-default:active:focus, .navbar .navbar-nav > li > a.btn.btn-default:active:hover, .navbar .navbar-nav > li > a.btn.btn-default.active:focus, .navbar .navbar-nav > li > a.btn.btn-default.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle:hover {
    background-color: #2f3476;
    color: #FFFFFF;
    margin-left: 0%; 
}

.edit_listar{
    width: 90px !important;
}

.card_equalizer{
    padding: 1px !important;
}

.tr_equalizer {
    position: relative;
    font-size: 10px;
    color: #2f3476;
    font-weight: 700;
}

.margin_card_equailizer{
    margin-top: 1%;
}

.ico_search{
    vertical-align: middle;
    font-size: 17px;
    top: -3px !important;
    position: relative;
    margin-left: -8px !important;
}
.bootstrap-datetimepicker-widget table td.active > div, .bootstrap-datetimepicker-widget table td.active:hover > div {
    background-color: #2f3476;
    color: #FFFFFF;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}


.btn.btn-success.btn-simple, .navbar .navbar-nav > li > a.btn.btn-success.btn-simple {
    background-color: transparent;
    color:  #2f3476;  
    box-shadow: none;
}

.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
    top: -7px;
    font-size: 11px;
    line-height: 1.42857;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #2f3476;  
    border-color: #2f3476;  
    color: #FFFFFF;
}

.header_card{
     background: red !important;
}

.nav-pills.nav-pills-warning > li.active > a, .nav-pills.nav-pills-warning > li.active > a:focus, .nav-pills.nav-pills-warning > li.active > a:hover {
    background-color: #fff059;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #2f3476;
    color: #2f3476;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.card .nav-pills, .card .tab-content {
    margin-top: 20px;
    margin-left: 80px;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active {
    background-color: #2f3476;
    color: #FFFFFF;
}



.card .card-header.card-header-icon + .card-content .card-title {
    padding-bottom: 5px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px; 
    vertical-align: middle; */
    font-size: 11px;
}


.main-panel > .content {
    margin-top: 20px;
    /* padding: 30px 15px; */
    min-height: calc(100vh - 123px);
}

.img_export
 {
    width: 30px;
    margin-top: 13px;
}

.img_export_pdf
 {
    width: 30px;
    margin-top: 13px;
    margin-left: -95px;
}

.tabla_report {
    font-size: 10px;
    font-family: arial;
}

body{
    font-family: arial;
}
.card [data-background-color] .category {
    margin-bottom: 0;
    color: #ff9800;
}

.header_card_icon {
    width: 45px;
    height: 30px;
    background: #2f3476 !important;

  
}
.row_card{
   margin-left:2px;
   padding-top: 30%;
}

.div_export{
   width:60px;

}
.btn_fecha{
  margin-top: 17%;
  margin-right: 2%;
  width: 35px;
  height: 35px;

}
.card_icon{
   width:15px;
   height: 15px;
   margin-left: -14px;
   margin-top: -25px;

}

.form-group.label-floating label.control-label {
    will-change: left, top, contents;
    color: #3c4858;
}

.btn.btn-success.btn-simple, .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:hover {
    background-color: transparent;
    color:  #3c4858 !important;
    box-shadow: none;
}